*{margin:auto;padding:auto;} 
#wrapper {width:900px;height:100%;border:1px solid black;}
#header {display:block;width:900px;height:60px;border-bottom:1px solid black;}
#logo {width:200px;height:50px; margin:2px 2px;font-size:40px;text-align:center;}
#menu {display:block; width:900px; height:40px;}
#menu li {display:inline-block;list-style:none;padding:5px 40px;font-size:18px;}
#menu li a{text-decoration:none;color:black;}
#content{width:900px;height:720px;border-top:1px solid black;}
#footer {width:900px;height:100px;border-top:1px solid black;text-align:center;font-size:20px;font-weight:800;line-height:90px;}
.somid {text-align:center;font-family:Arial, helvetica, sans-serif;width:200px;height:30px;color:black;padding:10px;font-size:20px;position:absolute;top:3px;left:450px;}
.clock {position:absolute;top:3px;left:750px;width:200px;height:50px;color:black;font-size:35px; padding:0px 5px 0px 5px;line-height:50px;}


 

/**Home**/
#box1 {width:850px;height:225px;border:1px solid black;margin:5px auto;}
#box2 {width:850px;height:225px;border:1px solid black;margin:5px auto;}
#box3 {width:850px;height:225px;border:1px solid black;margin:5px auto;}
.box_title {width:850px;height:50px;background:LightSeaGreen  ;border-bottom:1px solid black;margin:0px auto;font-size:20px;text-align:center;line-height:50px;color:white;}

.box_image{ width:200px;height:165px;border:1px solid black;margin-top:2px; margin-left:2px;background-image:url('https://images.pexels.com/photos/3498/italian-pizza-restaurant-italy.jpg?h=350&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.box_image_one{width:200px;height:165px;border:1px solid black;margin-top:2px;margin-left:2px;background-image:url('https://images.pexels.com/photos/169198/pexels-photo-169198.jpeg?h=350&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.box_image_two{width:200px;height:165px;border:1px solid black;margin-top:2px; margin-left:2px;background-image:url('https://images.pexels.com/photos/159213/hall-congress-architecture-building-159213.jpeg?h=350&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.box_text{width:640px;height:165px;border:1px solid black;margin-left:205px;margin-top:-166px;}
.box_text p{font-size:16px;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
text-indent:10px;text-align:justify;}
.vise {width:200px;height:60px;background:maroon;border:1px solid black; font-size:20px;text-decoration:none;color:white;}
#show {width:900px;height:400px;border:1px solid black;margin:5px auto;}

 

/**Kraj **/


/**O nama**/
#main_title {width:900px;height:50px;border-bottom:1px solid black;margin:0.5px auto;font-size:22px;line-height:50px;background:LightSeaGreen;color:white;}
#about_us{width:900px;height:400px;border:1px solid gray; margin:2px auto;}
#current{width:890px;height:500px;border:1px solid black;margin:2px;}
.thumb{width:70px;height:70px;margin:2px 7px;border:1px solid black;border-radius:10px;}
.brief {widt:400px;height:620px;}
.brief p{margin-top:10px;margin-left:5px;text-align:justify;font-size:18px;text-indent:20px;}
 
 







/**Kraj**/

/**Smestaj**/
#div_two{width:900px;height:490px;border:1px solid gray; margin:2px auto;}
#current_two{width:890px;height:400px;border:1px solid black;margin:2px;}
.thumb_two{width:70px;height:70px;margin:2px 7px;border:1px solid black;border-radius:10px;}


.room {width:900px;height:200px;border-bottom:1px solid black;}
.room p{margin-top:8px; margin-left:6px;font-size:18px;text-indent:10px;}
.room_offer{width:900px;height:130px; margin: 0px 0px;}
 
.room_offer_title{width:900px;height:30px;border-bottom:1px solid black;margin:0.5px auto;font-size:18px;background:LightSeaGreen;text-align:center;color:white;}
.room_offer_one {width:900px;height:130px; margin:10px 0px;}
.room_text {width:900px;height:100px;border-bottom:1px solid black;  }
.room_text p{ text-indent:2em;list-style-type:disc;display:list-item;margin-left:2em;text-align:justify; font-size:18px; }
    

/**Kraj**/


/**Restoran**/
#div_three{width:900px;height:490px;border:1px solid gray; margin:2px auto;}
#current_three{width:890px;height:400px;border:1px solid black;margin:2px;}
.thumb_three{width:70px;height:70px;margin:2px 7px;border:1px solid black;border-radius:10px;}
#restaurants_text{width:900px;height:650px;margin:auto;}
#restaurants_text p {margin-top:20px;font-size:18px;text-indent:10px; }











/**Kraj Restoran**/

/**Sadrzaj**/
 
.offer_title {width:900px;heigth:50px;border:1px solid black;margin:auto;font-size:20px;line-height:40px;background:LightSeaGreen;text-align:center;color:white;}
.offer_text {width:900px;height:160px;}
.offer_text p{margin-top:8px;font-size:18px;text-indent:5px;text-align:justify;}
#offer_tours{width:900px;height:340px;border-bottom:1px solid black;margin:5px auto;}
#offer_conference {width:900px;height:300px;border-bottom:1px solid black;margin:5px auto;}
#show_show_three {width:900px;height:400px;border:1px solid black;margin:5px auto;}


 
 
/**Kraj Sadrzaj**/


/**Specijalna ponuda**/
#special_offer {width:850px;height:200px;border:1px solid black;margin:5px auto;}
#special_offer_two {width:850px;height:200px;border:1px solid black;margin:5px auto;}
#special_offer_three {width:850px;height:200px;border:1px solid black;margin:5px auto;}
.special_offer_title {width:850px;height:50px;background:LightSeaGreen  ;border-bottom:1px solid black;margin:0px auto;font-size:20px;text-align:center;line-height:50px;color:white;}

.special_offer_image{ width:200px;height:140px;border:1px solid black;margin-top:2px; margin-left:2px;background-image:url('https://images.pexels.com/photos/3188/love-romantic-bath-candlelight.jpg?h=350&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.special_offer_image_one{width:200px;height:140px;border:1px solid black;margin-top:2px;margin-left:2px;background-image:url('https://images.pexels.com/photos/356830/pexels-photo-356830.jpeg?w=940&h=650&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.special_offer_image_two{width:200px;height:140px;border:1px solid black;margin-top:2px; margin-left:2px;background-image:url('https://images.pexels.com/photos/7103/writing-notes-idea-conference.jpg?h=350&auto=compress&cs=tinysrgb');
background-size:100% 100%;}
.special_offer_text{width:640px;height:140px;border:1px solid black;margin-left:205px;margin-top:-142px;}
.special_offer_text p{font-size:16px;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
text-indent:10px;text-align:justify;}
#special_offer_show {width:900px;height:300px;border:1px solid black;margin:5px auto;}

 
 

 


/**Kraj Specijalne ponude**/

/**Kontakt**/
#contact_show {width:900px;height:400px;border:1px solid black;margin:5px auto;}



/**Kraj**/


/**Rezervacija**/
#content_reservition{width:900px;height:600px;border-top:1px solid black;}
#reservition_show {width:900px;height:400px;border:1px solid black;margin:5px auto;}

 

 
    .form-label-left{
        width:200px;
    }
    .form-line{
        padding-top:10px;
        padding-bottom:10px;
    }
    .form-label-right{
        width:200px;
    }
    .form-all{
        width:800px;
        color:#000000 !important;
        font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
        font-size:16px;
    }
 

 
    /* Injected CSS Code */
.form-all::after {
	clear: both; display: table; content: "";
}
.form-all {
	font-family: "Lucida Grande", sans-serif;
}
.form-all {
	width: 680px;
}
.form-label-left {
	width: 150px;
}
.form-label-right {
	width: 150px;
}
.form-label {
	white-space: normal;
}
.form-label.form-label-auto {
	text-align: left; float: none; display: block;
}
.form-label-left {
	text-align: left; float: left; display: inline-block; white-space: normal;
}
.form-label-right {
	text-align: right; float: left; display: inline-block; white-space: normal;
}
.form-label-top {
	text-align: left; float: none; display: block; white-space: normal;
}
.form-radio-item label::before {
	top: 0px;
}
.form-all {
	font-size: 14px;
}
.form-label {
	font-weight: bold;
}
.form-checkbox-item label {
	font-weight: normal;
}
.form-radio-item label {
	font-weight: normal;
}
.supernova {
	background-color: rgb(245, 245, 245);
}
.supernova body {
	background-color: transparent;
}
@media screen and (min-width:480px)
{
.supernova .form-all {
	border: 1px solid rgb(220, 220, 220); border-image: none; box-shadow: 0px 3px 9px rgba(0,0,0,0.1); -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
}
}
@media screen and (max-width:480px)
{
.jotform-form .form-all {
	margin: 0px; width: 100%;
}
}
@media screen and (max-width:767px) and (min-width:480px)
{
.jotform-form .form-all {
	margin: 0px; width: 100%;
}
}
@media screen and (max-width:679px) and (min-width:480px)
{
.jotform-form .form-all {
	margin: 0px; width: 100%;
}
}
@media screen and (min-width:768px)
{
.jotform-form {
	padding: 60px 0px;
}
}
@media screen and (max-width:679px)
{
.jotform-form .form-all {
	margin: 0px; width: 100%;
}
}
.supernova .form-all {
	border: 1px solid transparent; border-image: none; background-color: rgb(255, 255, 255);
}
.form-all {
	border: 1px solid transparent; border-image: none; background-color: rgb(255, 255, 255);
}
.form-header-group {
	border-color: rgb(230, 230, 230);
}
.form-matrix-table tr {
	border-color: rgb(230, 230, 230);
}
.form-matrix-table tr:nth-child(2n) {
	background-color: rgb(242, 242, 242);
}
.form-all {
	color: rgb(85, 85, 85);
}
.form-header-group .form-header {
	color: rgb(85, 85, 85);
}
.form-header-group .form-subHeader {
	color: rgb(111, 111, 111);
}
.form-sub-label {
	color: rgb(111, 111, 111);
}
.form-label-top {
	color: rgb(85, 85, 85);
}
.form-label-left {
	color: rgb(85, 85, 85);
}
.form-label-right {
	color: rgb(85, 85, 85);
}
.form-html {
	color: rgb(85, 85, 85);
}
.form-checkbox-item label {
	color: rgb(111, 111, 111);
}
.form-radio-item label {
	color: rgb(111, 111, 111);
}
.form-line.form-line-active {
	transition-property: all; transition-duration: 0.3s; transition-timing-function: ease; background-color: rgb(255, 255, 224); -webkit-transition-property: all; -moz-transition-property: all; -o-transition-property: all; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-radio-item {
	padding-bottom: 0px !important;
}
.form-checkbox-item {
	padding-bottom: 0px !important;
}
:last-child.form-radio-item {
	padding-bottom: 0px;
}
:last-child.form-checkbox-item {
	padding-bottom: 0px;
}
.form-single-column .form-checkbox-item {
	width: 100%;
}
.form-single-column .form-radio-item {
	width: 100%;
}
.supernova {
	background-position: top; height: 100%; background-attachment: scroll; background-repeat: repeat;
}
.supernova {
	background-image: none;
}
#stage {
	background-image: none;
}
.form-all {
	background-position: top; background-attachment: scroll; background-repeat: repeat;
}
.form-header-group {
	background-position: top; background-attachment: scroll; background-repeat: no-repeat;
}
.form-line {
	margin-top: 12px; margin-bottom: 12px;
}
.form-line {
	padding: 12px 36px;
}
.form-all .qq-upload-button {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
.form-all .form-submit-button {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
.form-all .form-submit-reset {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
.form-all .form-submit-print {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
.form-all .form-pagebreak-back {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
.form-all .form-pagebreak-next {
	padding: 9px 15px; font-family: "Lucida Grande", sans-serif; font-size: 14px; font-weight: normal;
}
h2.form-header {
	line-height: 1.61em; font-size: 1.71em;
}
h2 ~ .form-subHeader {
	line-height: 1.5em; font-size: 1.07em;
}
.form-header-group {
	text-align: left;
}
.form-captcha input {
	padding: 4px 3px 2px;
}
.form-spinner input {
	padding: 4px 3px 2px;
}
.form-error-message {
	padding: 4px 3px 2px;
}
.form-header-group {
	font-family: "Lucida Grande", sans-serif;
}
.form-section {
	padding: 0px;
}
.form-header-group {
	margin: 12px 33px;
}
.form-header-group {
	padding: 0px;
}
.form-textbox {
	padding: 4px 3px 2px;
}
.form-textarea {
	padding: 4px 3px 2px;
}
.form-textbox {
	background-color: rgb(255, 255, 255);
}
.form-textarea {
	background-color: rgb(255, 255, 255);
}
.form-radio-other-input {
	background-color: rgb(255, 255, 255);
}
.form-checkbox-other-input {
	background-color: rgb(255, 255, 255);
}
.form-captcha input {
	background-color: rgb(255, 255, 255);
}
.form-spinner input {
	background-color: rgb(255, 255, 255);
}
[data-type='control_dropdown'] .form-input {
	width: 150px;
}
[data-type='control_dropdown'] .form-input-wide {
	width: 150px;
}
.form-label {
	font-family: "Lucida Grande", sans-serif;
}
li[data-type='control_image'] div {
	text-align: left;
}
li[data-type='control_image'] img {
	border-width: 0px !important; border-style: solid !important; border-color: currentColor; border-image: none;
}
.form-line-column {
	width: auto;
}
.form-line-error {
	overflow: hidden; transition-property: none; transition-duration: 0.3s; transition-timing-function: ease; background-color: rgb(255, 244, 244); -webkit-transition-property: none; -moz-transition-property: none; -o-transition-property: none; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; -webkit-transition-timing-function: ease; -moz-transition-timing-function: ease; -o-transition-timing-function: ease;
}
.form-line-error .form-error-message {
	clear: both; float: none; background-color: rgb(255, 50, 0);
}
.form-line-error .form-error-message .form-error-arrow {
	border-bottom-color: rgb(255, 50, 0);
}
.form-line-error input:not(#coupon-input) {
	border: 1px solid rgb(255, 50, 0); border-image: none; box-shadow: 0px 0px 3px #ff3200; -moz-box-shadow: 0 0 3px #ff3200; -webkit-box-shadow: 0 0 3px #ff3200;
}
.form-line-error textarea {
	border: 1px solid rgb(255, 50, 0); border-image: none; box-shadow: 0px 0px 3px #ff3200; -moz-box-shadow: 0 0 3px #ff3200; -webkit-box-shadow: 0 0 3px #ff3200;
}
.form-line-error .form-validation-error {
	border: 1px solid rgb(255, 50, 0); border-image: none; box-shadow: 0px 0px 3px #ff3200; -moz-box-shadow: 0 0 3px #ff3200; -webkit-box-shadow: 0 0 3px #ff3200;
}
.ie-8 .form-all {
	margin-top: auto;
}
.ie-8 .form-all::before {
	display: none;
}
[data-type='control_clear'] {
	display: none;
}
@media screen and (max-width:480px), screen and (orientation:portrait) and (max-device-width:767px), screen and (orientation:landscape) and (max-device-width:415px)
{
.testOne {
	letter-spacing: 0px;
}
.form-all {
	border: 0px currentColor; border-image: none;
}
.form-sub-label-container {
	margin: 0px; width: 100%; float: left; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
span.form-sub-label-container + span.form-sub-label-container {
	margin-right: 0px;
}
.form-sub-label {
	white-space: normal;
}
.form-address-table td {
	padding: 0px 1px 10px;
}
.form-address-table th {
	padding: 0px 1px 10px;
}
.form-submit-button {
	width: 100%; margin-left: 0px !important;
}
.form-submit-print {
	width: 100%; margin-left: 0px !important;
}
.form-submit-reset {
	width: 100%; margin-left: 0px !important;
}
div[id*=at_] {
	height: 8px; font-size: 14px; font-weight: 700; margin-top: 6px;
}
.showAutoCalendar {
	width: 20px;
}
img.form-image {
	height: auto; max-width: 100%;
}
.form-matrix-row-headers {
	width: 100%; -ms-word-break: break-all; min-width: 40px;
}
.form-collapse-table {
	margin: 0px;
}
.form-header-group {
	margin: 0px;
}
.form-collapse-table {
	width: 100%; height: 100%; display: inline-block;
}
.form-collapse-hidden {
	display: none !important;
}
.form-input {
	width: 100%;
}
.form-label {
	width: 100% !important;
}
.form-label-left {
	width: auto !important; text-align: left; float: none; display: block;
}
.form-label-right {
	width: auto !important; text-align: left; float: none; display: block;
}
.form-line {
	padding: 2% 5%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-line.form-line-column {
	padding: 2% 5%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
input[type=text] {
	width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
input[type=email] {
	width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
input[type=tel] {
	width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
textarea {
	width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-dropdown {
	width: 100% !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-textarea {
	width: 100% !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-textbox {
	width: 100% !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.form-input {
	
}
.form-input-wide {
	
}
.form-textarea {
	
}
.form-textbox {
	
}
.form-dropdown {
	
}
.form-address-city {
	width: 100%;
}
.form-address-line {
	width: 100%;
}
.form-address-postal {
	width: 100%;
}
.form-address-state {
	width: 100%;
}
.form-address-table {
	width: 100%;
}
.form-address-table .form-sub-label-container {
	width: 100%;
}
.form-address-table select {
	width: 100%;
}
.form-input {
	width: 100%;
}
div.form-header-group {
	margin: 0px 5% 2% !important; padding: 0px !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
div.form-header-group.hasImage img {
	max-width: 100%;
}
[data-type='control_button'] {
	margin-bottom: 0px !important;
}
[data-type=control_fullname] .form-sub-label-container {
	width: 48%;
}
[data-type=control_fullname] :first-child.form-sub-label-container {
	margin-right: 4%;
}
[data-type=control_phone] .form-sub-label-container {
	width: 65%;
}
[data-type=control_phone] :first-child.form-sub-label-container {
	width: 31%; margin-right: 4%;
}
[data-type=control_datetime] .form-sub-label-container + .form-sub-label-container {
	width: 27.3%; margin-right: 6%;
}
[data-type=control_datetime] :first-child.form-sub-label-container {
	width: 27.3%; margin-right: 6%;
}
[data-type=control_datetime] .form-sub-label-container + .form-sub-label-container + .form-sub-label-container {
	width: 33.3%; margin-right: 0px;
}
[data-type=control_datetime] span + span + span > span:first-child {
	width: 100% !important; display: block;
}
[data-type=control_birthdate] .form-sub-label-container {
	width: 27.3% !important; margin-right: 6% !important;
}
[data-type=control_datetime] span + span + span > span:first-child + span + span {
	width: 27.3% !important; margin-right: 6% !important;
}
[data-type=control_time] .form-sub-label-container {
	width: 27.3% !important; margin-right: 6% !important;
}
[data-type=control_birthdate] :last-child.form-sub-label-container {
	width: 33.3% !important; margin-right: 0px !important;
}
[data-type=control_time] :last-child.form-sub-label-container {
	width: 33.3% !important; margin-right: 0px !important;
}
.form-pagebreak-back-container {
	width: 50% !important; min-height: 1px;
}
.form-pagebreak-next-container {
	width: 50% !important; min-height: 1px;
}
.form-pagebreak-back {
	width: 100%;
}
.form-pagebreak-next {
	width: 100%;
}
.form-product-item.hover-product-item {
	width: 100%;
}
.form-pagebreak-back-container {
	padding: 0px; text-align: right;
}
.form-pagebreak-next-container {
	padding: 0px; text-align: left;
}
.form-pagebreak {
	margin: 0px auto;
}
.form-buttons-wrapper {
	margin: 0px !important;
}
.form-buttons-wrapper button {
	width: 100%;
}
.form-buttons-wrapper .form-submit-print {
	margin: 0px !important;
}
table {
	width: 100% !important;
}
table td + td {
	padding-left: 3%;
}
.form-checkbox-item {
	white-space: normal !important;
}
.form-radio-item {
	white-space: normal !important;
}
.form-checkbox-item input {
	width: auto;
}
.form-radio-item input {
	width: auto;
}
.form-collapse-table {
	margin: 0px 5%; width: auto; display: block; -ms-zoom: 1;
}
.form-collapse-table::before {
	line-height: 0; display: table; content: "";
}
.form-collapse-table::after {
	line-height: 0; display: table; content: "";
}
.form-collapse-table::after {
	clear: both;
}
.fb-like-box {
	width: 98% !important;
}
.form-error-message {
	bottom: -10px; clear: both;
}
.date-separate {
	display: none;
}
.phone-separate {
	display: none;
}
.custom-field-frame {
	width: 100% !important;
}
.direct-embed-widgets {
	width: 100% !important;
}
.signature-pad-wrapper {
	width: 100% !important;
}
}

/*PREFERENCES STYLE*/
    .form-all {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-family: Lucida Grande, sans-serif;
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-family: Lucida Grande, sans-serif;
    }
    .form-header-group {
      font-family: Lucida Grande, sans-serif;
    }
    .form-label {
      font-family: Lucida Grande, sans-serif;
    }
  
    .form-label.form-label-auto {
      
    display: block;
    float: none;
    text-align: left;
    width: 100%;
  
    }
  
    .form-line {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .form-all {
      width: 800px;
    }
  
    .form-label-left,
    .form-label-right,
    .form-label-left.form-label-auto,
    .form-label-right.form-label-auto {
      width: 200px;
    }
  
    .form-all {
      font-size: 16px
    }
    .form-all .qq-upload-button,
    .form-all .qq-upload-button,
    .form-all .form-submit-button,
    .form-all .form-submit-reset,
    .form-all .form-submit-print {
      font-size: 16px
    }
    .form-all .form-pagebreak-back-container,
    .form-all .form-pagebreak-next-container {
      font-size: 16px
    }
  
    .supernova .form-all, .form-all {
      background-color: #fff;
      border: 1px solid transparent;
    }
  
    .form-all {
      color: #000000;
    }
    .form-header-group .form-header {
      color: #000000;
    }
    .form-header-group .form-subHeader {
      color: #000000;
    }
    .form-label-top,
    .form-label-left,
    .form-label-right,
    .form-html,
    .form-checkbox-item label,
    .form-radio-item label {
      color: #000000;
    }
    .form-sub-label {
      color: #1a1a1a;
    }
  
    .supernova {
      background-color: #f5f5f5;
    }
    .supernova body {
      background: transparent;
    }
  
    .form-textbox,
    .form-textarea,
    .form-radio-other-input,
    .form-checkbox-other-input,
    .form-captcha input,
    .form-spinner input {
      background-color: #fff;
    }
  
    .supernova {
      background-image: none;
    }
    #stage {
      background-image: none;
    }
  
    .form-all {
      background-image: none;
    }
  
  .ie-8 .form-all:before { display: none; }
  .ie-8 {
    margin-top: auto;
    margin-top: initial;
  }



/**Kraj**/